### Pyspark Dataframes: Filter Operations
- Using the'and', 'or' and '==' operations
- Using the not operation '~'
- Comparison operators like greater than, less thanm equal to

In [1]:
# Connecting google colab with drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Get the path of the 'PySpark_test1.csv' file as file_path
file_path = '/content/drive/MyDrive/Datasets/PySpark_test1.csv'

In [3]:
# Importing Pyspark
import pyspark

In [6]:
# Importing a SparkSession and creating a spark context object as spark with 'FilterOps' app name
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('FilterOps').getOrCreate()

In [5]:
# Check the details of the Spark context object
spark

In [7]:
# Read the 'PySpark_test1.csv' file as df_org with first row as header and inferSchema set to True
df_org = spark.read.csv(file_path, header = True, inferSchema = True)
df_org.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [11]:
# Get the all informations for the people having saraly less than or equal to 20000
df_org.filter('Salary <= 20000').show()

# This can also be written as the following code
df_org.filter(df_org['Salary'] <= 20000).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [10]:
# Get the 'Name' and 'age' of the people having salary less than or equal to 20000
df_org.filter('Salary <= 20000').select(['Name','age']).show()

+-------+---+
|   Name|age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [12]:
# Get all the informations for people having salary in the range [15000,20000]
df_org.filter((df_org['Salary'] <= 20000) | (df_org['Salary'] >= 15000)).show() # The operaor '|' means and

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [13]:
# Get all information of people having salary greater than 20000
df_org.filter(df_org['Salary'] > 20000).show()

# This can also be thought as: people not having salary less than or equal to 20000
df_org.filter(~(df_org['Salary']<=20000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+